In [527]:
import pandas as pd
from datetime import datetime
import numpy as np
from tqdm import tqdm

import plotly.graph_objects as go
import plotly.express as px

# CONST

In [528]:
BTC = '../btc_data/BTC.pck'

# DEfs

In [529]:
def get_BTC():
    df = pd.read_pickle(BTC)
    return df

In [530]:
def show_stats(egg, col_epoch='e', col_values='BTC'):
    epoka_stats = egg.groupby(col_epoch)[col_values].agg(['mean', 'min', 'max', 'std', 'median', 'count'])
    
    # Wyświetlenie wynikowej tabeli
    print(epoka_stats)

In [531]:
def add_volatility(df, vol_windows=[3, 7, 10, 20, 30]):

    
    for w in vol_windows:

        mean_col = f'mean_{w}'
        std_col = f'std_{w}'
        CV_col = f'CV_{w}'
        
        df[mean_col] = df['BTC'].rolling(window=30, center=True).mean()
        df[std_col] = df['BTC'].rolling(window=30, center=True).std()
        
        # Współczynnik zmienności
        df[CV_col] = (df[std_col] / df[mean_col]) * 100  # Współczynnik zmienności w %

        df.drop(columns=[mean_col, std_col], inplace=True)

       
    df.dropna(inplace=True)
    return df

def add_pct_change(df, days_ptc_change = [1, 3, 7, 15]):
    # add pct_change Future and Past
    
    # for d in days_ptc_change:
    #     df[f'p{str(d)}'] = df.BTC.pct_change(d)   #pct change past
    
    for d in days_ptc_change:
        df[f'f{str(d)}'] = df.BTC.pct_change(-d)  #pct change future
    
    all_data_cols = df.columns[3:]
    
    df.dropna(inplace=True)
    return df

# MAIN

In [532]:
egg = get_BTC()
# df = add_pct_change(egg)
df = add_volatility(egg)
all_data_cols = df.columns[3:]
all_data_cols

Index(['CV_3', 'CV_7', 'CV_10', 'CV_20', 'CV_30'], dtype='object')

In [511]:
# CLIP VALUES
CLIP_VAL = True
if CLIP_VAL:
    df[all_data_cols] = df[all_data_cols].clip(upper=15)
    # df[all_data_cols] = df[all_data_cols].clip(lower=)

In [524]:
df['CVSUM'] = df[['CV_3', 'CV_7', 'CV_10', 'CV_20', 'CV_30']].sum(axis=1)

# WykreS

# VOLatiLitY

In [473]:
df

              dfh  e          BTC        f1        f3        f7       f15   v
2010-07-18  561.0  1      0.04951 -0.250000 -0.250000 -0.092226 -0.189689 NaN
2010-07-19  562.0  1      0.08584  0.062376  0.083702  0.250000  0.250000 NaN
2010-07-20  563.0  1      0.08080  0.081081  0.250000  0.250000  0.250000 NaN
2010-07-21  564.0  1      0.07474 -0.056432  0.193548  0.245667  0.250000 NaN
2010-07-22  565.0  1      0.07921  0.250000  0.250000  0.250000  0.250000 NaN
...           ... ..          ...       ...       ...       ...       ...  ..
2024-10-22  186.0  5  60630.94000  0.000000 -0.000957 -0.000957  0.000071 NaN
2024-10-23  187.0  5  60630.94000  0.000000  0.000000  0.000000  0.000071 NaN
2024-10-24  188.0  5  60630.94000 -0.000957  0.000000  0.000000  0.000000 NaN
2024-10-25  189.0  5  60689.04000  0.000958  0.000958  0.000958  0.000958 NaN
2024-10-26  190.0  5  60630.94000  0.000000 -0.000957  0.000000 -0.000957 NaN

[5215 rows x 8 columns]

In [474]:
df.dropna()

,dfh,e,BTC,f1,f3,f7,f15,v
2010-08-02,576.0,1,0.0611,0.000000,0.071930,0.003284,-0.067176,0.008397
2010-08-03,577.0,1,0.0611,0.018333,0.001639,-0.139437,-0.127143,0.007920
2010-08-04,578.0,1,0.0600,0.052632,-0.036918,-0.142857,-0.117647,0.006938
2010-08-05,579.0,1,0.0570,-0.065574,-0.033898,-0.149254,-0.145427,0.006247
2010-08-06,580.0,1,0.0610,-0.020867,0.001642,-0.128571,-0.068702,0.005929
...,...,...,...,...,...,...,...,...
2024-10-08,172.0,5,62209.8400,0.001298,0.032008,0.026041,0.026041,1816.934992
2024-10-09,173.0,5,62129.1700,0.025484,0.023730,0.024784,0.024711,1810.996354
2024-10-10,174.0,5,60585.2200,0.005057,-0.001711,-0.000683,-0.001711,1806.997327
2024-10-11,175.0,5,60280.3800,-0.006734,-0.006734,-0.005782,-0.005782,1759.915209
2024-10-12,176.0,5,60689.0400,0.000000,0.000958,0.000958,0.000958,1750.755234