In [149]:
import pandas as pd
from pathlib import Path

In [151]:
def get_btc_df(FORCE_DOWNLOAD=False):
    '''
    Read btc_csv local file if exists. If not - downloads from
    https://www.cryptodatadownload.com/cdd/Bitstamp_BTCUSD_d.csv
    
    INPUT: bool to force download (deafault set to false).
    OUTPUT: pandas dataframe
    '''
    
    btc_csv_file_name = "Bitstamp_BTCUSD_d.csv"

    if Path(file_path).is_file() and not FORCE_DOWNLOAD:
        df = pd.read_csv(btc_csv_file_name, index_col=0)
        
    else:
        # url = 'https://www.cryptodatadownload.com/cdd/Bitstamp_BTCUSD_d.csv'
        url = 'https://www.cryptodatadownload.com/cdd/Gemini_BTCUSD_d.csv'
        df = pd.read_csv(url, header=1)

        # Sort ascending by unix date
        df = df.sort_values(by='unix', ascending=True)

        # Date conversion
        df.date = pd.to_datetime(df['date']).dt.date

        # Housekeep: index change, remove leftovers, 
        df.index = df.date
        df = df.drop(columns=['unix', 'date', 'symbol'])
        df = df.rename(columns={"Volume BTC":"vol_btc", "Volume USD":"vol_usd"})

        # CSV store
        df.to_csv(btc_csv_file_name)
        
    return df

In [153]:
df = get_btc_df(FORCE_DOWNLOAD=False)

df.head(3)

              open    high    low   close    vol_btc       vol_usd
date
2015-10-08    0.00  245.00    0.0  243.60  34.754703   8466.245554
2015-10-09  243.60  249.97  243.6  245.51  61.587068  15120.240952
2015-10-10  245.51  246.30  244.6  246.30  30.870549   7603.416293

In [154]:
df['prv'] =    (df.vol_usd / df.close)

In [155]:
df.tail()

,open,high,low,close,vol_btc,vol_usd,prv
date,,,,,,,
2024-10-03,60640.21,61454.81,59845.58,60734.54,686.358819,4.168569e+07,686.358819
2024-10-04,60734.54,62492.38,58347.87,62086.83,679.641623,4.219679e+07,679.641623
2024-10-05,62086.83,62369.14,60000.00,62079.10,171.844452,1.066795e+07,171.844452
2024-10-06,62079.10,62950.00,59658.98,62813.28,249.354673,1.566278e+07,249.354673
2024-10-07,62813.28,64461.15,60641.76,62240.66,868.800735,5.407473e+07,868.800735

In [123]:
y = yf.download("BTC-USD", period="max", interval="1d")

/Users/k/miniconda3/envs/RAJ/lib/python3.12/site-packages/yfinance/utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [126]:
y.tail(3)

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-10-06,62084.988281,62959.570312,61833.148438,62818.953125,62818.953125,14776233667
2024-10-07,62819.109375,64443.707031,62152.550781,62236.660156,62236.660156,34253562610
2024-10-08,62227.664062,63082.699219,61875.328125,62302.535156,62302.535156,29859282944

In [127]:
df.tail()

               open     high      low    close      vol_btc       vol_usd  prv
date
2024-10-04  60747.0  62473.0  60474.0  62081.0  1394.478029  8.657059e+07  1.0
2024-10-05  62080.0  62368.0  61699.0  62063.0   449.654242  2.790689e+07  1.0
2024-10-06  62057.0  62962.0  61816.0  62814.0   846.732086  5.318663e+07  1.0
2024-10-07  62831.0  64444.0  62130.0  62212.0  1815.268372  1.129315e+08  1.0
2024-10-08  62211.0  62321.0  62211.0  62313.0     1.469658  9.157881e+04  1.0

In [146]:
url = 'https://www.cryptodatadownload.com/cdd/Gemini_BTCUSD_d.csv'
df = pd.read_csv(url, header=1)

In [148]:
df[df.open<1]

,unix,date,symbol,open,high,low,close,Volume BTC,Volume USD
3640,1444276800,2015-10-08 04:00:00,BTC/USD,0.0,245.0,0.0,243.6,34.754703,8466.245554