In [1]:
import pandas as pd
from datetime import datetime
import numpy as np
from tqdm import tqdm

import plotly.graph_objects as go
import plotly.express as px

# ConsT

In [ ]:
BTC = '../btc_data/BTC.pck'

# DeFS

In [3]:
def get_BTC():
    df = pd.read_pickle(BTC)
    return df

In [11]:
def show_stats(egg, col_epoch='e', col_values='BTC'):
    epoka_stats = egg.groupby(col_epoch)[col_values].agg(['mean', 'min', 'max', 'std', 'median', 'count'])
    
    # Wy≈õwietlenie wynikowej tabeli
    return (epoka_stats)

# MaiN

In [20]:
df = get_BTC()
df.tail(3)

              dfh  e       BTC
2024-11-08  203.0  5  60630.94
2024-11-09  204.0  5  60630.94
2024-11-10  205.0  5  60689.04

In [21]:
egg = show_stats(df)
egg

           mean          min       max           std      median  count
e
1      5.240525      0.04951     29.60      4.877265      4.8605    844
2    337.852427     10.82000   1237.55    227.196627    295.6000   1339
3   5757.937568    513.43000  19345.49   3707.967492   6318.4150   1402
4  32778.438242   8568.88000  73118.09  15532.774170  29907.9800   1439
5  62541.461311  53954.33000  71430.23   3780.369979  61742.1050    206

In [23]:
epoka_stats = df.groupby('e')['dfh'].agg(['mean', 'min', 'max', 'std', 'median', 'count'])
epoka_stats

    mean    min     max         std  median  count
e
1  982.5  561.0  1404.0  243.786108   982.5    844
2  669.0    0.0  1338.0  386.680316   669.0   1339
3  700.5    0.0  1401.0  404.866851   700.5   1402
4  719.0    0.0  1438.0  415.547831   719.0   1439
5  102.5    0.0   205.0   59.611241   102.5    206

In [18]:
egg.columns

Index(['mean', 'min', 'max', 'std', 'median', 'count', 'X', 'A', 'B', 'C',
       'D'],
      dtype='object')

In [19]:
egg

,mean,min,max,std,median,count,X,A,B,C,D
e,,,,,,,,,,,
1,5.240525,0.04951,29.60,4.877265,4.8605,844,1.074480,1.074480,0.996563,0.930683,1.003449
2,337.852427,10.82000,1237.55,227.196627,295.6000,1339,1.487049,1.487049,1.301076,0.672473,0.768595
3,5757.937568,513.43000,19345.49,3707.967492,6318.4150,1402,1.552855,1.552855,1.704010,0.643975,0.586851
4,32778.438242,8568.88000,73118.09,15532.774170,29907.9800,1439,2.110276,2.110276,1.925476,0.473872,0.519352
5,62541.461311,53954.33000,71430.23,3780.369979,61742.1050,206,16.543741,16.543741,16.332292,0.060446,0.061228